
:root {
    --fontColor:  rgb(89, 15, 187);
}



/**Header*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
display: none;
z-index: 1;

}

#body {
background-color: rgb(238, 236, 236);
margin: 0;
font-family: 'Barlow', sans-serif;
}

.items-menu {
display: flex;
flex-direction: row;
list-style: none;
}

.item {
margin: 12px;
padding: 15px 30px;
color: grey;
font-weight:600;
}

.item:hover {
color: rgb(89, 15, 187);
}

.special-item {
margin: 12px;
padding: 15px 30px;
color: #ffff;
font-weight: 600;
}


.contacto {
text-decoration: none;
background-color: rgb(89, 15, 187);
border-radius: 50px;
height: 70px;
margin-top: 0.1875rem;
margin-bottom: 0.1875rem;
transition: 0.2s;
}

.contacto:hover {
background:  rgb(89, 15, 187) ;
box-shadow: 0 0 7px   rgb(89, 15, 187) , 0 0 7px   rgb(89, 15, 187) , 0 0 7px   rgb(89, 15, 187) ;
}

.link {
text-decoration: none;
margin: 0px 25px;
color: grey;
}




/**Sección Lo que Hago*/


.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 80px auto;
    }

.info {
margin-top: 102px;
font-weight: 800;
}

.saludo {
font-size: 28px;
line-height: 2;
}

.name {
font-size: 38px;
color: rgb(89, 15, 187);
line-height: 2;
}

.personal-description {
font-size: 14px;
color: grey;
line-height: 1.5;
}

.personal-description-image {
margin-top: 102px;
width: 50%;
}

.button {
    padding: 15px 30px;
    line-height: 7;
    width: 150px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.2s;
    color: #ffff;
    background-color: rgb(89, 15, 187);
    border-radius: 50px;
    text-decoration: none;
}

.button:hover {
background:  rgb(89, 15, 187) ;
box-shadow: 0 0 7px   rgb(89, 15, 187) , 0 0 7px   rgb(89, 15, 187) , 0 0 7px   rgb(89, 15, 187) ;
}



/**Sección Mis Conocimientos*/

.lenguajes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    }

.mis-conocimientos {
margin-top: 102px;
margin-bottom: 30px;
font-weight: bolder;
font-size: 35px;
color: rgb(89, 15, 187);
letter-spacing: 2px;
}

.conocimientos-descripcion {
font-size: 15px;
margin-top: 1px;
}

.presentacion-conocimientos {
display: flex;
flex-direction: column;
align-items: center;
}

.grid-lenguajes {
display: flex;
box-sizing: border-box;
flex-wrap: wrap;
justify-content: center;
padding: 15px 30px;
margin: 15px 30px;
}

.imagen-lenguaje {
margin: 25px;
padding: 70px;
width: 265px;
font-size: 55px;
text-align: center;
background-color: #ffff;
border-color: rgb(176, 174, 179);
border-width: 1px;
border-style: solid;
border-radius: 4px;
transition: 0.1s;

}

.imagen-lenguaje:hover {
border-color: rgb(89, 15, 187);
transform: scale(1.06);
}

.titulo-lenguaje {
font-size: 28px;
font-weight: bolder;
}

/**Sección Quote*/

.section-quote {
display: flex;
justify-content: center;
text-align: center;
width: 100vw;
font-size: 60px;
padding: 30px 50px;
background-color: rgb(89, 15, 187);
color: #ffff;
margin-top: 90px;
margin-bottom: 90px;
}

.frase-celebre {
font-size: 35px;
}

.autor-frase-celebre {
font-size: 40px;
}

/**Sección Proyectos*/


.mis-proyectos {
box-sizing: border-box;
}

.presentacion-proyectos {
display: flex;
flex-direction: column;
align-items: center;
}

.titulo-proyectos {
font-weight: bolder;
font-size: 35px;
color: #590fbb;
letter-spacing: 2px;
margin-top: 102px;
margin-bottom: 30px;
}

.descripcion-proyectos {
font-size: 15px;
margin-top: 1px;
margin-bottom: 30px;
}

.grid-proyectos {
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: 15px 60px;
padding: 15px 60px;
}

.icon-proyecto {
    margin: 10px;
    padding: 30px;
    width: 260px;
    font-size: 55px;
    text-align: center;
    background-color: #ffff;
    border-color: rgb(176, 174, 179);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    transition: 0.1s;
    
}

.icon-proyecto img {
width: 220px;
}

.icon-proyecto p {
font-size: 18px;
font-weight: bolder;
}

.icon-proyecto:hover {
border-color: rgb(89, 15, 187);
transform: scale(1.06);

}

/**Sección Contacto*/

.contenedor-contacto {
display: flex;
justify-content: center;
}

.contactame {
display: flex;
justify-content: space-evenly;
width: 80vw;
background-color: white;
margin: 150px 0px;
padding: 100px 70px;
border-style: solid;
border-width: 1px;
border-radius: 4px;
border-color:  rgb(176, 174, 179);
}

.bold {
font-size: 40px;
font-weight: bold;
}

.contacto-izquierda {
width: 50%;
padding-right: 60px;
}

.contacto-derecha {
width: 50%;
padding-right: 60px;
}

.contacto-head p {
margin-bottom: 40px;
margin-right: 85px;
line-height: 1.5;
}

.redes {
text-decoration: none;
color: grey;
transition: 2s;
}

.redes:hover {
    color:  rgb(89, 15, 187); 
}

.contacto-redes ul {
list-style: none;
line-height: 3;

}

.contacto-redes ul li i:hover {
    background: var(--fontColor);
    transform: scale(1.6);
}

.contacto-redes i {
font-size: 17px;
border-radius: 50%;
padding: 6px;
height: 30px;
width: 29px;
margin-right: 1rem;
background-color: rgb(132, 90, 187);
color: #ffff;
transition: 2s;
}


.name-surname {
display: flex;
flex-direction: row;
}

.contacto-derecha-name {
display: flex;
flex-direction: column;
width: 45%;
}


.contacto-derecha-surname {
display: flex;
flex-direction: column;
width: 45%;
}

.name-surname {
display: flex;
justify-content: space-between;
}

.correo-mensaje {
display: flex;
flex-direction: column;
}

form label {
font-weight: bold;
font-size: 18px;
margin-bottom: 15px;
margin-top: 12px;
}

form input {
border-radius: 10px;
padding: 9px;
border: none;
background-color: rgb(238, 236, 236);
outline-color: var(--fontColor)
}


form textarea {
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px;
border: none;
background-color: rgb(238, 236, 236);
height: 150px;
outline-color: var(--fontColor);
}


form button {
background-color: rgb(89, 15, 187);
border-radius: 50px;
border: none;
height: 55px;
width: 25%;
transition: 0.2s;
color: #ffff;
font-weight: 200;
font-size: 17px;
letter-spacing: 1px;
margin-top: 17px;
}

form button:hover {
background:  rgb(89, 15, 187) ;
box-shadow: 0 0 7px   rgb(89, 15, 187) , 0 0 7px   rgb(89, 15, 187) , 0 0 7px   rgb(89, 15, 187) ;
}

/**Sección Footer*/

.footer {
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 260px;
background-color: rgb(89, 15, 187);
}

.items-footer {
display: none;
transition: 3s;
}


.link-footer {
text-decoration: none;
color: white;
margin: 0px 25px;
padding: 15px 15px 0px 0px;
}


.social-media-items {
display: flex;
flex-direction: row;
justify-content: center;
}


.items {

list-style: none;
color: #ffff;
padding: 15px;
margin: 30px;
}


.items i {
font-size: 17px;
border-radius: 50%;
padding: 6px;
height: 30px;
width: 29px;
color: rgb(89, 15, 187);
background-color: #ffff;
transition: 1s;

}

.items i:hover {
    transform: rotate(360deg);
}


/**Media*/


@media (min-width: 1100px) {
    .header {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        width: 100%;
        top: 0;
        background-color: #ffff;
        -webkit-box-shadow: 2px 9px 7px -6px rgba(173,171,173,1);
        -moz-box-shadow: 2px 9px 7px -6px rgba(173,171,173,1);
        box-shadow: 2px 9px 7px -6px rgba(173,171,173,1);
    }

    

    .items-footer {
        display: flex;
        list-style: none;
        
    }
   
}

@media (max-width: 1100px) {

    .content {
        flex-direction: column;

    }

    .personal-description-image {
        max-width: 600px;
        margin-top: 5px;
    }

    .info {
        align-items: center;
        text-align: center;
    }

    .presentacion-conocimientos {
        align-items: center;
        text-align: center;
    }

    .presentacion-proyectos {
        align-items: center;
        text-align: center;
    }
 
}

@media (max-width: 900px) {

    .contenedor-contacto {
        margin: 120px auto;
    }
    .contactame {
        flex-direction: column;
        padding: 80px 20px;
        text-align: left;  
    }

    .contacto-izquierda {
        margin: 15px;
    }

    .contacto-head p {
        margin-top: 25px;
        margin-bottom: 20px;
        width: 60vw;
    }

    .redes {
        display: flex;
        align-items: center;
        width: 80vw;
    }

    .name-surname {
        flex-direction: column;
        margin-top: 25px;
    }


    .contacto-derecha-name {
       width: 70vw;
       
    }

    .contacto-derecha-surname {
        width: 70vw;
    }

    .correo-mensaje {
        width: 70vw;
        margin-bottom: 20px;
    }

    .correo-mensaje button {
        width: 40vw;
    }

   
}





















