/**Header*/

.header {
display: flex;
box-sizing: border-box;
justify-content: flex-end;
flex-grow: 1;
background-color: #ffff;
-webkit-box-shadow: 2px 9px 7px -6px rgba(173,171,173,1);
-moz-box-shadow: 2px 9px 7px -6px rgba(173,171,173,1);
box-shadow: 2px 9px 7px -6px rgba(173,171,173,1);

}

#body {
background-color: rgb(238, 236, 236);
margin: 0;
font-family: 'Barlow', sans-serif;
}

.items-menu {
display: flex;
flex-direction: row;
list-style: none;
}

.item {
margin: 12px;
padding: 15px 30px;
color: grey;
font-weight:600;
}

.item:hover {
color: rgb(89, 15, 187);
}

.special-item {
margin: 12px;
padding: 15px 30px;
color: #ffff;
font-weight: 600;
}


.contacto {
text-decoration: none;
background-color: rgb(89, 15, 187);
border-radius: 50px;
height: 70px;
transition: 0.2s;
}

.contacto:hover {
background:  rgb(89, 15, 187) ;
box-shadow: 0 0 7px   rgb(89, 15, 187) , 0 0 7px   rgb(89, 15, 187) , 0 0 7px   rgb(89, 15, 187) ;
}

.link {
text-decoration: none;
margin: 0px 25px;
color: grey;
}


.content {
display: flex;
box-sizing: border-box;
flex-direction: row;
align-items: center;
justify-content: center;
margin: 80px auto;
}

/**Sección Lo que Hago*/

.sobre-mi {
box-sizing: border-box;
}

.info {
font-weight: 800;
}

.saludo {
font-size: 28px;
line-height: 0;
}

.name {
font-size: 38px;
color: rgb(89, 15, 187);
line-height: 1;
}

.personal-description {
font-size: 14px;
color: grey;
line-height: 1.5;
}

.button {
padding: 15px 30px;
line-height: 7;
width: 150px;
font-size: 14px;
font-weight: 600;
letter-spacing: 1px;
transition: 0.2s;
color: #ffff;
background-color: rgb(89, 15, 187);
border-radius: 50px;
text-decoration: none;
}

.button:hover {
background:  rgb(89, 15, 187) ;
box-shadow: 0 0 7px   rgb(89, 15, 187) , 0 0 7px   rgb(89, 15, 187) , 0 0 7px   rgb(89, 15, 187) ;
}

.lenguajes {
display: flex;
box-sizing: border-box;
justify-content: center;
flex-direction: column;
}

/**Sección Mis Conocimientos*/

.lenguajes {
box-sizing: border-box;
}

.mis-conocimientos {
font-weight: bolder;
font-size: 35px;
color: rgb(89, 15, 187);
letter-spacing: 2px;
}

.conocimientos-descripcion {
font-size: 15px;
margin-top: 1px;
}

.presentacion-conocimientos {
display: flex;
flex-direction: column;
align-items: center;
}

.grid-lenguajes {
display: flex;
box-sizing: border-box;
flex-wrap: wrap;
justify-content: center;
}

.imagen-lenguaje {
margin: 10px;
padding: 30px;
width: 260px;
font-size: 55px;
text-align: center;
background-color: #ffff;
border-color: rgb(176, 174, 179);
border-width: 1px;
border-style: solid;
border-radius: 4px;
transition: 0.1s;
}

.imagen-lenguaje:hover {
border-color: rgb(89, 15, 187);
}

.titulo-lenguaje {
font-size: 28px;
font-weight: bolder;
}

/**Sección Quote*/

.section-quote {
display: flex;
justify-content: center;
text-align: center;
box-sizing: border-box;
font-size: 60px;
padding: 30px 50px;
background-color: rgb(89, 15, 187);
color: #ffff;
}

.frase-celebre {
font-size: 35px;
}

.autor-frase-celebre {
font-size: 40px;
}





.mis-proyectos {
box-sizing: border-box;
}

.presentacion-proyectos {
display: flex;
flex-direction: column;
align-items: center;
}

.titulo-proyectos {
font-weight: bolder;
font-size: 35px;
color: rgb(89, 15, 187);
letter-spacing: 2px;
}

.descripcion-proyectos {
font-size: 15px;
margin-top: 1px;
}















